<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <div class="content center-block">
            <div v-if="!editingNote">
                <h1>Notes</h1>
                <div class="note-view-list">
                    <note-view
                        v-for="note in notes"
                        v-bind:note="note"
                        @edit="editingNote = note"
                        @delete="showDeletionDialog( note )"
                    ></note-view>
                </div>
                <div class="btn-group">
                    <button @click="editNewNote()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <note-edit
                v-if="editingNote"
                v-bind:note="editingNote"
                @cancel-edit="cancelNoteEdit()"
            ></note-edit>
            <dialog-box
                v-if="dialog.action"
                v-bind:text="dialog.text"
                @approve="dialog.approve()"
                @cancel="dialog.cancel()"
            ></dialog-box>
        </div>
    </div>
    <script src="todo.js"></script>
    <script src="events.js"></script>
    <script src="note-view.js"></script>
    <script src="dialog-box.js"></script>
    <script src="note-edit.js"></script>
    <script src="index.js"></script>
</body>
</html>
